<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="icon" href="D:\codsoft\assets\profile icon.png" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="navbar">
          <div class="logo"><a href="#">Portfolio</a></div>
           <ul  class="menu">
            <li><a href="#intro">Intro</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#contact">Contact</a></li>
           </ul>
        </div>
    </nav>
    <section id="intro">
     <div class="intr">
      <br><br><br><br><br><br><br>
      <h3 class="intf">Hi Forks!! </h3>

      <br>
      <h1 class="name"> I&nbsp;am&nbsp;Afrinbanu</h1><br>
      <div class="flex-container">
        <p class="int-p">To pursue a challenging career by solving real time issues and to keep myself update in technologies and improve my skills for self improvement and organization needs.
          Seeking a role in an MNC where I can upgrade my skills with time and take the company to the next level. A highly motivated and hardworking individual looking for a responsible role in a reputable organization.
          Seeking an entry-level position where I can augment my knowledge, skills, and experience and contribute to the success of the organization. 
          I love to work in groups where everyone can voice their opinions and ideas.
        </p>
        <img class="image-pic" src="../static/img/image pic.jpg" alt="pic" width="200px" height="100px">
      </div>

    </div>
    </section>
    <br><br>
   <div class="skill-body">
      <section id="skills">Skills</section>
      <div class="skill">
       <div class="flip-box">
         <div class="flip-box-inner">
           <div class="flip-box-front">
             <h2>C</h2>
           </div>
           <div class="flip-box-back">
             <H3>High Level proficiency</H3>
             
           </div>
         </div>
       </div>
       <div class="flip-box">
         <div class="flip-box-inner">
           <div class="flip-box-front">
             <h2>PYTHON</h2>
           </div>
           <div class="flip-box-back">
             <H3>Moderate</H3>
             
           </div>
         </div>
       </div>
       <div class="flip-box">
         <div class="flip-box-inner">
           <div class="flip-box-front">
             <h2>JAVA</h2>
           </div>
           <div class="flip-box-back">
             <H3>Moderate</H3>
             
           </div>
         </div>
       </div>
    </div>
    <br>
    <br>
   </div>
  <div class=project-container>
     <section id="projects">Projects</section>
     
     <div class="project-in">
      <DIV CLASS="title">
       <h2 class="title-of-project">PROJECT NAME</h2>
       <h2 class="input">INPUT</h2>
       <h2 class="output">OUTPUT</h2>
       
      </DIV>
      <div class = "project-table">
       <h3 class="explain-project-1">Image To Pencil Sketch With Python Using Computer Vision </h3>
       <img src="https://cdn-images-1.medium.com/proxy/1*PlBUGZr7v-0kNk_Ru22G7w.jpeg" width="100px" height="100px">
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN3RzNtKa1dra4eUjbfO_vYBq__Ce1DoQUlHwV0wi0mc9ZiKahy2yVQwgulKR-zR5Vl4w&usqp=CAU" width="100px" height="100px">
      </div>
      <br>
      <div class = "project-table">
       <h3 class="explain-project-2">Birthday Event Management System Using Web Development </h3>
       <img src="https://miro.medium.com/v2/resize:fit:1400/1*J6xCzZMFgO805J4XIGp8yA.png" width="100px" heigth="100px">
       <img src="https://www.marseventplanners.com/wp-content/uploads/elementor/thumbs/balloon-ohdg8r0ioah6wicqna5w0zw0o9p3cv6pxz7yi8gpls.jpg" width="100px" height="100px">
      </div>
      <br>
      <div class = "project-table">
       <h3 class="explain-project-3">Predict The Percentage Of An Students Based On The Number Of Study Hours </h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt9DPSx5iRPFVscV0AaFjEVQxEthgAPm1sqw&usqp=CAU" width="100px" height="100px">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp2AfSpuBpV2RZ87GX1gHprsLAU6CNtrLkWg&usqp=CAU" width="100px" height="100px">
      </div>
      <br>
      <div class = "project-table">
        <h3 class="explain-project-4">Sentiment Analysis Using Machine Learning </h3>
         <img src="https://www.red-gate.com/simple-talk/wp-content/uploads/2022/02/graphical-user-interface-application-description-1.png" width="100px" height="100px">
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa5hwNfmD0cJ7RFYRKRzg5cfzIxESv204d5bFTVfXkK6WIJvYUZTlUQyx5ksQkzWul37E&usqp=CAU" width="150px" height="100px">
       </div>  
     </div>
  </div>
  <br>
  <section id="resume">Resume</section>
    <div >
      <h3 class="resume1"> Iam over the moon to share my resume to codsoft team to check out!! Here i attached my resume for furture know about myself!!!!<span> &nbsp;&nbsp;
      <a class="resume-link" target="_blank" href="D:\codsoft\assets\ke- resume 1.pdf" download="resume.pdf"><button type="button" class="btn btn-primary btn-lg">Resume</button>
      </a></span></h3>


     </div>
  <section id="contact">Contact</section>
     <div class="rose"></div>
         <div class="incontact">
           <form>
            
             <label for="First-name">NAME</label>
             <br><br>
             <input type="text" class="First-name" id="First-name"  required placeholder="Name">
             <br><br>
             <label for="mobile-number">MOBILE NUMBER</label>
             <br><br>
             <input type="number" class="mobile-number" id="mobile-number" maxlength="10" required placeholder="Mobile Number">
             <br><br>
             <label for="email" >EMAIL</label>
             <br><br>
             <input type="email" class="email" id="email" placeholder="Email" required >
             <br><br>
             <label for="msg">MESSAGE</label>
             <BR><BR>
             <textarea type="text" required  maxlength="30"  cols="50"></textarea>
             <br><br>
             <button type="submit" class="submit">SUBMIT</button>
            </form>
         </div>
    </div>
    <br><br><br><br><br><br>
    <hr>
    <h3 class = "copyrights">Copyright © 2023 Afrinbanu. All rights reserved.</h3>


    <hr class="line" >


</body>
</html>